*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
env_linux

#src
*.sqlite*
*.db*

#.env
node_modules
yarn.lock
package-lock.json

tasks_logs/
#media/

apps/common/management
apps/helpers

#/media/
#!/media/mapper.json
#!/media/Sales.csv

# de projectos
/uv.lock
/.venv

apps/core/fixtures/superuser.json
/.env
/apps/api/fixtures/locations.json
/apps/api/fixtures/hoteles.json
